/*IDs Designs zuordnen*/

#box {
    margin: 20px 20px 20px 20px;
    border: 5px solid #000066;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
    background-color: #b3edff;
}


/*.frage {
    padding: 0px;
    margin: 5px 0px 5px 0px;
}*/

.richtige {
    float: right;
}

#f1,
#f2,
#f3,
#f4,
#f5,
#f6,
#f7,
#f8,
#f9,
#f10 {
    padding: 0px;
    margin: 5px 0px 5px 0px;
}

#r1,
#r2,
#r3,
#r4,
#r5,
#r6,
#r7,
#r8,
#r9,
#r10 {
    padding: 0px;
    margin: 5px 0px 5px 0px;
}